---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getAllProducts, IPrice } from '../../lib/store';
import { toDollars } from '../../utils/money';
import { slugify } from '../../utils/string';

export async function getStaticPaths() {
  const prices: IPrice[] = await getAllProducts();

  return prices.map((price) => {
    return {
      params: { page: slugify(price.product.name) },
      props: {
        id: price.product.id,
        name: price.product.name,
        description: price.product.description,
        image: price.product.images[0],
        price: price.unit_amount,
      },
    };
  });
}

interface Props {
  id: string;
  name: string;
  description: string;
  image: string;
  price: number;
}
const { id, name, description, image, price }: Props = Astro.props;
---

<BaseLayout title={name} description={description} image={image}>
  <div class='flex flex-wrap items-center justify-center gap-8'>
    <img src={image} alt={name} class='w-80 rounded-lg' />

    <div class='flex flex-col'>
      <h1 class='mb-4 text-3xl'>{name}</h1>

      <p class='mb-4 leading-relaxed'>
        {description}
      </p>
      <div class='mb-4 flex items-end justify-between gap-4'>
        <span class='text-2xl'>{toDollars(price)}</span>
        <div class='form-control'>
          <label class='label'>
            <span class='label-text'>Quantity</span>
          </label>
          <input
            class='input input-bordered w-24'
            type='number'
            id='quantity'
            name='quantity'
            min='1'
            value='1'
            autocomplete='off'
          />
        </div>
      </div>
      <button class='btn btn-accent' data-add-to-cart data-product-id={id}>Add to cart</button>
      <div class='text-error' id='error-message'></div>
    </div>
  </div>
</BaseLayout>
