---
import BaseLayout from './BaseLayout.astro';

interface Props {
  title: string;
  description: string;
  pubDate?: string;
  updatedDate?: string;
  heroImage?: string;
}

const { title, description, pubDate, updatedDate, heroImage }: Props = Astro.props;
---

<BaseLayout title={title} description={description} image={heroImage}>
  <div class='md:flex md:justify-center'>
    <article class='prose prose-lg prose-img:mx-auto max-w-[750px]'>
      {heroImage && <img src={heroImage} alt={title} class='mb-6 w-full' />}
      <h1 class='title my-2 text-4xl font-bold'>{title}</h1>
      {pubDate && <time>{pubDate}</time>}
      {
        updatedDate && (
          <div>
            Last updated on <time>{updatedDate}</time>
          </div>
        )
      }
      <div class='divider my-2'></div>
      <slot />
    </article>
  </div>
</BaseLayout>
