---
import BaseLayout from './BaseLayout.astro';

interface Props {
  content: {
    title: string;
    description: string;
    image?: string;
    tags?: string[];
  };
}
const {
  content: { title, description, image, tags },
}: Props = Astro.props;
---

<BaseLayout title={title} description={description} image={image}>
  <div class='md:flex md:justify-center'>
    <article class='prose prose-lg max-w-[1280px]'>
      {image && <img src={image} alt={title} class='mb-6 w-full' />}
      <h1 class='title my-2 text-4xl font-bold'>{title}</h1>
      <div>{description}</div>
      <div class='mt-2 flex gap-2'>
        {tags.map((tag) => <div class='badge badge-lg badge-info'>{tag}</div>)}
      </div>
      <div class='divider my-2'></div>
      <slot />
    </article>
  </div>
</BaseLayout>
