---
import BaseLayout from './BaseLayout.astro';

const {
  content: {
    title,
    description,
    updatedDate,
    heroImage,
    pricing,
    oldPricing,
    checkoutUrl,
    badge,
    custom_link,
    custom_link_label,
  },
} = Astro.props;
---

<BaseLayout title={title} description={description} image={heroImage}>
  <main class='md:flex md:justify-center'>
    <article class='prose prose-lg prose-img:mx-auto max-w-[750px]'>
      {heroImage && <img src={heroImage} alt={title} class='mb-6 w-full' />}
      <div class=''>
        <h1 class='title my-2 text-4xl font-bold'>
          {title}
          {badge && <div class='badge badge-secondary mx-2'>{badge}</div>}
        </h1>
        <div class='flex place-content-between items-center'>
          <div class='grow md:grow-0'>
            <span class='mr-1 text-xl'> {pricing}</span>
            <span class='text-md line-through opacity-50'>{oldPricing}</span>
          </div>
          <div>
            {
              custom_link && (
                <a class='btn btn-outline ml-4 grow md:grow-0' href={custom_link} target='_blank'>
                  {custom_link_label}
                </a>
              )
            }
            <a class='btn btn-primary ml-4 grow md:grow-0' href={checkoutUrl} target='_blank'>Buy Now</a>
          </div>
        </div>
      </div>
      {
        updatedDate && (
          <div>
            {' '}
            Last updated on <time>{updatedDate}</time>{' '}
          </div>
        )
      }
      <div class='divider my-2'></div>
      <slot />
    </article>
  </main>
</BaseLayout>
